In [38]:
import numpy as np
import pandas as pd

# 作業一 證交所api

In [39]:
import requests
import json

api = "https://www.twse.com.tw/rwd/zh/afterTrading/STOCK_DAY?202409&stockNo=2888&response=json"

data = requests.get(api)

stock_info = json.loads(data.text)
stock_info

{'stat': 'OK',
 'date': '20240920',
 'title': '113年09月 2888 新光金           各日成交資訊',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'data': [['113/09/02',
   '139,632,501',
   '1,806,435,912',
   '12.95',
   '13.00',
   '12.90',
   '12.95',
   '+0.05',
   '14,464'],
  ['113/09/03',
   '251,181,178',
   '3,255,490,510',
   '13.00',
   '13.05',
   '12.95',
   '12.95',
   ' 0.00',
   '20,591'],
  ['113/09/04',
   '350,075,373',
   '4,496,021,446',
   '12.90',
   '12.90',
   '12.70',
   '12.80',
   '-0.15',
   '21,298'],
  ['113/09/05',
   '382,979,921',
   '4,990,404,859',
   '12.95',
   '13.20',
   '12.90',
   '12.95',
   '+0.15',
   '29,263'],
  ['113/09/06',
   '218,775,006',
   '2,822,321,725',
   '12.95',
   '12.95',
   '12.85',
   '12.95',
   ' 0.00',
   '13,158'],
  ['113/09/09',
   '245,147,060',
   '3,170,923,753',
   '12.85',
   '13.10',
   '12.75',
   '13.10',
   '+0.15',
   '20,702'],
  ['113/09/10',
   '121,701,347',
   '1,582,315,328',
   '13.05',
   '13.10',
   '12.95',
   '13.00',
   '-0.10',
   '12,763'],
  ['113/09/11',
   '501,139,284',
   '6,714,415,280',
   '13.35',
   '13.55',
   '13.25',
   '13.50',
   '+0.50',
   '49,212'],
  ['113/09/12',
   '418,379,623',
   '5,571,722,334',
   '13.45',
   '13.45',
   '13.15',
   '13.30',
   '-0.20',
   '25,570'],
  ['113/09/13',
   '148,761,808',
   '1,986,968,857',
   '13.35',
   '13.45',
   '13.30',
   '13.40',
   '+0.10',
   '13,281'],
  ['113/09/16',
   '98,238,337',
   '1,309,799,673',
   '13.40',
   '13.40',
   '13.25',
   '13.35',
   '-0.05',
   '10,034'],
  ['113/09/18',
   '712,882,284',
   '8,873,067,674',
   '12.70',
   '12.75',
   '12.20',
   '12.30',
   '-1.05',
   '83,807'],
  ['113/09/19',
   '290,648,027',
   '3,665,455,130',
   '12.50',
   '12.75',
   '12.45',
   '12.70',
   '+0.40',
   '20,863'],
  ['113/09/20',
   '412,235,410',
   '5,079,288,973',
   '12.30',
   '12.50',
   '12.15',
   '12.25',
   '-0.45',
   '28,862']],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
  '當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。',
  'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。',
  '權證證券代號可重複使用，權證顯示之名稱係目前存續權證之簡稱。'],
 'total': 14}

In [40]:
df = pd.DataFrame(stock_info['data'], columns=stock_info['fields'])
df

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,113/09/02,"139,632,501","1,806,435,912",12.95,13.00,12.90,12.95,+0.05,"14,464"
1,113/09/03,"251,181,178","3,255,490,510",13.00,13.05,12.95,12.95,0.00,"20,591"
2,113/09/04,"350,075,373","4,496,021,446",12.90,12.90,12.70,12.80,-0.15,"21,298"
3,113/09/05,"382,979,921","4,990,404,859",12.95,13.20,12.90,12.95,+0.15,"29,263"
4,113/09/06,"218,775,006","2,822,321,725",12.95,12.95,12.85,12.95,0.00,"13,158"
5,113/09/09,"245,147,060","3,170,923,753",12.85,13.10,12.75,13.10,+0.15,"20,702"
6,113/09/10,"121,701,347","1,582,315,328",13.05,13.10,12.95,13.00,-0.10,"12,763"
7,113/09/11,"501,139,284","6,714,415,280",13.35,13.55,13.25,13.50,+0.50,"49,212"
8,113/09/12,"418,379,623","5,571,722,334",13.45,13.45,13.15,13.30,-0.20,"25,570"
9,113/09/13,"148,761,808","1,986,968,857",13.35,13.45,13.30,13.40,+0.10,"13,281"
10,113/09/16,"98,238,337","1,309,799,673",13.40,13.40,13.25,13.35,-0.05,"10,034"
11,113/09/18,"712,882,284","8,873,067,674",12.70,12.75,12.20,12.30,-1.05,"83,807"
12,113/09/19,"290,648,027","3,665,455,130",12.50,12.75,12.45,12.70,+0.40,"20,863"
13,113/09/20,"412,235,410","5,079,288,973",12.30,12.50,12.15,12.25,-0.45,"28,862"

# 作業二 yahoo爬蟲

In [41]:
from bs4 import BeautifulSoup

In [42]:
# 使用 BeautifulSoup 
urls="https://tw.stock.yahoo.com/quote/2888.TW"
context = requests.get(urls)
soup = BeautifulSoup(context.text,'lxml')

# 抓取股票table資料
ul_tag = soup.find('ul', class_='D(f)')

In [43]:
span_items = ul_tag.find_all('span')
y_fields = []
y_data = []
space = 0 #遇到漲跌符號的情況
for index, item in enumerate(span_items):
    if item.text == '':
        space += 1
        continue
    
    print(item.text)

    #去掉空格
    if space %2 == 1:
        print("space")
        if index % 2 == 1:
            y_fields.append(item.text)
        else:
            y_data.append(item.text)
        
    else:
        if index % 2 == 0:
            y_fields.append(item.text)
        else:
            y_data.append(item.text)

print("Fields:", y_fields)
print("Data:", y_data)

成交
12.25
開盤
12.30
最高
12.50
最低
12.15
均價
12.32
成交金額(億)
50.43
昨收
12.70
漲跌幅
3.54%
漲跌
space
0.45
space
總量
409,283
昨量
290,366
振幅
2.76%
Fields: ['成交', '開盤', '最高', '最低', '均價', '成交金額(億)', '昨收', '漲跌幅', '漲跌', '總量', '昨量', '振幅']
Data: ['12.25', '12.30', '12.50', '12.15', '12.32', '50.43', '12.70', '3.54%', '0.45', '409,283', '290,366', '2.76%']

In [44]:
yfinance = pd.DataFrame([y_data],columns=y_fields)

In [45]:
yfinance

,成交,開盤,最高,最低,均價,成交金額(億),昨收,漲跌幅,漲跌,總量,昨量,振幅
0,12.25,12.30,12.50,12.15,12.32,50.43,12.70,3.54%,0.45,"409,283","290,366",2.76%